*{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

header{
    background-color: rgb(160, 165, 3);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

header img{
    width: 50px;
}

header h1{
    font-size: 26px;
}

header a{
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    padding: 6px;
    border-radius: 5px;
}

header a:hover{
    text-decoration: none;
    background-color: aliceblue;
    color: black;
}

div{
    padding: 45px;
    text-align: center;
    min-height: 60vh;
    background-color: #EEE;
}

div h2{
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 50px;
}

footer{
    background-color: rgb(160, 165, 3);
    border-top: 3px solid black;
    text-align: center;
    padding: 85px;
}